@font-face {
  src:
    local("Geist-Regular"),
    url("/fonts/Geist-Regular.woff2") format("woff2"),
    url("/fonts/Geist-Regular.woff") format("woff");
  font-family: "Geist-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Geist-Medium"),
    url("/fonts/Geist-Medium.woff2") format("woff2"),
    url("/fonts/Geist-Medium.woff") format("woff");
  font-family: "Geist-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Geist-SemiBold"),
    url("/fonts/Geist-SemiBold.woff2") format("woff2"),
    url("/fonts/Geist-SemiBold.woff") format("woff");
  font-family: "Geist-SemiBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Geist-Bold"),
    url("/fonts/Geist-Bold.woff2") format("woff2"),
    url("/fonts/Geist-Bold.woff") format("woff");
  font-family: "Geist-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Oswald-Regular"),
    url("/fonts/Oswald-Regular.woff2") format("woff2"),
    url("/fonts/Oswald-Regular.woff") format("woff");
  font-family: "Oswald-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Oswald-Medium"),
    url("/fonts/Oswald-Medium.woff2") format("woff2"),
    url("/fonts/Oswald-Medium.woff") format("woff");
  font-family: "Oswald-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Oswald-SemiBold"),
    url("/fonts/Oswald-SemiBold.woff2") format("woff2"),
    url("/fonts/Oswald-SemiBold.woff") format("woff");
  font-family: "Oswald-SemiBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Oswald-Bold"),
    url("/fonts/Oswald-Bold.woff2") format("woff2"),
    url("/fonts/Oswald-Bold.woff") format("woff");
  font-family: "Oswald-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
