$white-one: #ffffff;
$white-mask-one: rgba(255, 255, 255, 0.8);
$white-mask-two: rgba(255, 255, 255, 0.6);
$white-mask-three: rgba(255, 255, 255, 0.4);
$white-mask-four: rgba(255, 255, 255, 0.2);
$white-mask-five: rgba(255, 255, 255, 0.1);

$black-one: #262727;
$black-two: #0d0d0d;
$black-mask-one: rgba(38, 39, 39, 0.8);
$black-mask-two: rgba(38, 39, 39, 0.6);
$black-mask-three: rgba(38, 39, 39, 0.4);
$black-mask-four: rgba(38, 39, 39, 0.2);
$black-mask-five: rgba(38, 39, 39, 0.1);

$orange-one: #ff9300;
$orange-mask-one: rgba(255, 147, 0, 0.8);
$orange-mask-two: rgba(255, 147, 0, 0.6);
$orange-mask-three: rgba(255, 147, 0, 0.4);
$orange-mask-four: rgba(255, 147, 0, 0.2);
$orange-mask-five: rgba(255, 147, 0, 0.1);

$blue-one: #254666;
$blue-two: #32608a;
$blue-three: rgb(21, 167, 235);
$blue-mask-one: rgba(37, 70, 102, 0.8);
$blue-mask-two: rgba(37, 70, 102, 0.6);
$blue-mask-three: rgba(37, 70, 102, 0.4);
$blue-mask-four: rgba(37, 70, 102, 0.2);
$blue-mask-five: rgba(37, 70, 102, 0.1);

$mask-trasparent: rgba(0, 0, 0, 0);

// $gradient-page-primary: linear-gradient(135deg, $orange-one 0%, $black-one 20%, $blue-one 100%);
$gradient-page-dark: linear-gradient(135deg, $blue-one 0%, $black-one 40%);
$gradient-page-dark-two: linear-gradient(135deg, $blue-two 0%, $blue-one 40%, $blue-one 60%, $blue-three 100%);
// $gradient-page-light: linear-gradient(135deg, $blue-one 0%, $white-one 40%);

$shadow-one: rgba(38, 39, 39, 0.2) 0px 7px 29px 0px;

$br-xxs: 4px;
$br-xs: 6px;
$br-s: 8px;
$br-m: 10px;
$br-l: 14px;
$br-xl: 24px;
$br-xxl: 40px;

// $screen-hd: 1920px; // h-1080
$screen-xxl: 1600px; // h-900
// $screen-xl: 1440px; // h-900
// $screen-l: 1280px; // h-800
// $screen-m: 1024px; // h-768
// $screen-s: 767px; // h-1024
// $screen-xs: 390px; // h-844
